<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="//cdnjs.loli.net/ajax/libs/mdui/0.4.1/css/mdui.min.css">
    <style>
        #main{
            background:url('/static/img/gaomu.jpg');
            background-size: 100% auto;
            background-repeat: no-repeat;
            padding-bottom: 90%;
        }

        #username{
            margin:0 auto; width: 700px; height:100px; border:1px
        }
    </style>
    <script type="text/javascript" src="https://cdn.bootcss.com/canvas-nest.js/1.0.1/canvas-nest.min.js"></script>
</head>
<!--background="img/back.jpg" style="background-size: 100%;"-->
<body class="mdui-theme-primary-indigo mdui-theme-accent-pink" >
<div class="mdui-container mdui-shadow-20 mdui-color-theme-50" id="main">
    <div class="jumbotron text-center text-center mdui-ripple" style="margin-bottom:0; background:url('/static/img/syc.png') center;background-repeat:no-repeat;height: 240px;background-size: 50% auto;"></div>

    <div class="mdui-divider"></div>

    <div id="username">
        <h1>
            {{ string|safe }}
        </h1>
    </div>



</div>
<script src="//cdnjs.loli.net/ajax/libs/mdui/0.4.1/js/mdui.min.js"></script>
<script src="https://code.jquery.com/jquery.js"></script>
<!-- 包括所有已编译的插件 -->
<script src="/static/js/bootstrap.min.js"></script>
</body>
</html>